<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<title> Home </title>
	
	<object th:include="fragments/fragment :: header" th:remove="tag"></object>

</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"> </nav>
	<br>
	<div class="container-fluid">
		<h2> Sistem Informasi Kepegawaian</h2>
		<p> Selamat datang di Sistem Informasi Kepegawaian </p>
		<hr>
		<div class="container-fluid">
			<br>
			<div class="row">
				<div class ="col">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								Lihat Data Pegawai berdasarkan NIP
							</div>
							<form th:action="@{/pegawai}" method="GET">
								<div class="card-body">
									<label for="nip"> Masukkan nomor induk pegawai :</label>
									<input type="text" name="nip" class="form-control" />
									<br>
									<button type="submit" class="btn btn-primary"> Cari </button>
								</div>
							
							</form>
						</div>
						<br>
						<div class="card">
							<div class="card-header">
								Lihat Detail Jabatan
							</div>
							<form th:action="@{/jabatan/view}" id="jabatanForm"  method="GET">
								<div class="card-body">
									<label for="nip"> Pilih Jabatan :</label>
									<select  class="form-control" required="required" name="idJabatan" id="jabatanForm" th:value="${listJabatan}" form="jabatanForm">
								      <option disabled="disabled" selected="selected" >Pilih Jabatan</option>
								      <option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}" ></option>
								    </select>
									<br>
									<button type="submit" class="btn btn-primary" value="lihat"> Cari </button>
								</div>
							
							</form>
						</div>
						<br>
						<div class="card">
							<div class="card-header">
								Lihat Pegawai Termuda dan Tertua
							</div>
							<form th:action="@{/pegawai/termuda-tertua}" id="pegawaiForm"  method="GET">
								<div class="card-body">
									<label for="nip"> Pilih Instansi :</label>
									<select  class="form-control" required="required" name="idInstansi" id="pegawaiForm" th:value="${listInstansi}" form="pegawaiForm">
								      <option disabled="disabled" selected="selected" >Pilih Instansi</option>
								      <option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}" ></option>
								    </select>
									<br>
									<button type="submit" class="btn btn-primary" value="lihat"> Cari </button>
								</div>
							
							</form>
						</div>
						<br>
						</div>
						<div col>
							
						
						</div>
						
						
						
						
					</div>
				</div>
				
			
			</div>
		</div>
	</div>
</body>
</html>