<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="title"> view Pegawai</title>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
		
	</head>
		
	<body>	
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3>List Semua Jabatan</h3>
		<br>
		
		<table id="searchResult">
			<thead>
				<th>Nama</th>
				<th>Deskripsi</th>
				<th>Gaji Pokok</th>
			</thead>
			<span th:each="jabatan : ${listJabatan}">
				<tr>
					<td th:text="${jabatan.nama}"></td>
					<td th:text="${jabatan.deskripsi}"></td>
					<td th:text="${jabatan.gajiPokok}"></td>
				</tr>
			</span>
		</table>
			
	</body>
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	
	<script>
		$(document).ready( function () {
		    $('#searchResult').DataTable();
		} );
	</script>
</html>