<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="title"> view Pegawai</title>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
		
	</head>
		
	<body>	
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<br>
		<div class="container">
		<h3>List Semua Jabatan</h3>
		<table id="myData" class="table table-stripped table-bordered table-hover">
			<thead>
				<th>Nama</th>
				<th>Deskripsi</th>
				<th>Gaji Pokok</th>
			</thead>
			<span th:each="jabatan : ${listJabatan}">
				<tr>
					<td th:text="${jabatan.nama}"></td>
					<td th:text="${jabatan.deskripsi}"></td>
					<td th:text="${jabatan.gajiPokok}"></td>
				</tr>
			</span>
		</table>
		</div>
	</body>
	
	
	<script>
	$('myData').dataTable();
	</script>
</html>